<br/>
<div class="basic-grey">
  <script>
    $.notify("<%= notice %>", "sucess");
  </script>


  <h1>Kinds</h1>

  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @kinds.each do |kind| %>
        <tr style = "background: <%= cycle("white", "#d1d1e0")%>">
          <td><%= kind.description %></td>
          <td><%= link_to 'Edit', edit_kind_path(kind) %></td>
          <td><%= link_to 'Destroy', kind, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to "Novo", new_kind_path, class: "btn btn-primary" %> | 
  <%= link_to "Home", root_path, class: "btn btn-default" %>
</div>