<p id="notice"><%= notice %></p>

<h1>Addres</h1>

<table>
  <thead>
    <tr>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addres.each do |addre| %>
      <tr>
        <td><%= addre.street %></td>
        <td><%= addre.city %></td>
        <td><%= addre.state %></td>
        <td><%= addre.contact %></td>
        <td><%= link_to 'Show', addre %></td>
        <td><%= link_to 'Edit', edit_addre_path(addre) %></td>
        <td><%= link_to 'Destroy', addre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Addre', new_addre_path %>
