<div class="basic-grey">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Contact:</strong>
    <%= @phone.contact.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @phone.phone %>
  </p>

  <%= link_to 'Edit', edit_phone_path(@phone) %> |
  <%= link_to 'Back', phones_path %>
</div>