<%= form_for(@contact, html: { class: "basic-grey" }) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <h1>Contacts</h1>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :contact_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :contact_email %>
  </div>

  <div class="field">
    <%= form.label :kind_id %>
    <!--  objeto que recebe, qual campo que recebe, qual o método, o que será guardado, o que será retornado -->
    <%= form.collection_select(:kind_id, @kind_option_for_select, :id, :description) %>
  </div>

  <%= form.fields_for :address do |address_fields| %>
     <div class="field">
      <%= form.label :street %><br>
      <%= address_fields.text_field :street %>
    </div>

    <div class="field">
      <%= form.label :city %><br>
      <%= address_fields.text_field :city %>
    </div>

     <div class="field">
      <%= address_fields.label :state %><br>
      <%= address_fields.select :state, options_for_states(@contact.address.state) %>
    </div>
  <% end %>

  <%= form.fields_for :phone do |phones_fields| %>
     <div class="field">
      <%= form.label :phone %><br>
      <%= phones_fields.text_field :phone %>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :rmk %>
    <%= form.text_area :rmk, id: :contact_rmk %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar", class: "button" %>
    <%= link_to "Back", contacts_path, class: "button" %>
  </div>
<% end %>
