<div class="basic-grey">
  
  <script>
    $.notify("<%= notice %>", "sucess");
  </script>

  <h1>Contacts</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Kind</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr style = "background: <%= cycle("white", "#d1d1e0")%>">
          <td><%= contact.name %></td>
          <td><%= contact.email %></td>
          <td><%= contact.kind.description %></td>
          <td><%= link_to "Edit", edit_contact_path(contact) %></td>
          <td><%= link_to "Destroy", contact, method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to "Novo", new_contact_path, class: "btn btn-primary" %> | 
  <%= link_to "Home", root_path, class: "btn btn-default" %>
</div>
